<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="blogpost">
        <p id="blogcontent">
            A simple blog website made using nodejs(express framework), mongodb and ejs.
            <br></br>
            It can be used to write content and view them on the go.
            <br></br>
            The top five latest posts updated are displayed on the home page.
            <br></br>
            The remaining post can be searched.
        </p>
    </div>
</body>
</html>