<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="blogpost">
        <p id="blogcontent" style="text-align: left;">
            Contact:
            <br></br>
            Email : mailtojoshua22@gmail.com
            <br>  
            Linkedin :  <a href="https://www.linkedin.com/in/david-joshua-480328251" target="_blank">www.linkedin.com/in/david-joshua-480328251</a>
        </p>
    </div>
</body>
</html>