<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="insidetext" style="text-align: center;">
        <h1 style="font-size: 64px;">Welcome to the Blog</h1>
    </div>
    <p style="font-size: x-large;text-align: center; font-family: 'Shadows Into Light', cursive;">Feel free to unwind yourselves</p>
    <div class="container" style="margin-top: 70px;">
      <div class="latestpost">
        <h1 class="insidetext" style="margin-left:auto; margin-top: auto;">Latest Posts</h1>
      <table class="postTable">
          <thead style="font-size: xx-large;font-family: 'Shadows Into Light'">
              <td>Post</td>
              <td style="text-align: right;">Date</td>
          </thead>
          <% record.forEach(element => {%>
            <tbody style="font-size: large;font-family: 'TimesNewRoman';padding: 10px;">
              <tr>
                <td><a href="/vpost/<%=element._id %>" style="color: rgb(0, 60, 123);"><%= element.title %></a></td>
                <td style="text-align: right;"><%= element.createdDay.toDateString() %></td>
              </tr>
            </tbody>
          <%  }); %>
      </table>
      </div>
      <div class="enterData" style="justify-content: center;align-items: center; margin-left: auto;">
        <h1 style="text-align: center;">Click on the image to write a new Post</h1>
        <a href="newpost"><img src="IMG_20230115_162543.jpg" id="mainimage" class="rounded image-fluid" alt="Beach Image" style="max-height:400px; filter:drop-shadow(0px 44px 34px rgba(0,0,0,0.25));"></a>
      </div>
  </div>
</body>
</html>