<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>
</head>
<body>
    <!-- record.forEach(element=>{ -->
        <div class="blogpost">
            <h1><%= record.title %></h1>
            <p id="blogcontent"><%= record.blogPost %></p>
        </div>
  <!--  }); -->
</body>
</html>